@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
a {
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.blockWrapper {
  position: relative;
}

.content {
  background: #c1c1c1;
  min-height: 100vh;
  padding: 4rem 0 0 0;
}
.content__masonWrap {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .content {
    padding: 4rem 6rem 0 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .content {
    padding: 4rem 6rem 0 320px;
  }
}
@media only screen and (min-width: 1800px) {
  .content__masonWrap {
    max-width: 80%;
  }
}
@media only screen and (min-width: 2200px) {
  .content__masonWrap {
    max-width: 90%;
  }
}

.search {
  position: fixed;
  right: 0;
  top: 0;
}

.mason {
  position: relative;
  width: auto;
}
.mason__sizer, .mason__brick {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .mason__sizer, .mason__brick {
    width: 50%;
  }
}
@media only screen and (min-width: 1600px) {
  .mason__sizer, .mason__brick {
    width: 33%;
  }
}
@media only screen and (min-width: 1800px) {
  .mason__sizer, .mason__brick {
    width: 25%;
  }
}
@media only screen and (min-width: 720px) {
  .mason__sizer {
    float: left;
  }
}
.mason__brick {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.mason__brick__thumb img {
  height: auto;
  max-width: 100%;
}
.mason__brick__blurb {
  background: white;
}

.header {
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  padding: 1rem;
  top: 0;
  position: fixed;
  overflow: auto;
  width: 100%;
  z-index: 3;
}
.header__main {
  align-items: center;
  display: flex;
  width: 100%;
}
.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.header__logo img {
  height: auto;
  max-width: 100%;
}
.header__icon {
  font-size: 2rem;
  padding: 0 0.5rem;
}
.header__icon--search {
  margin-left: auto;
}
.header__navWrap {
  color: #c1c1c1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.9rem 0 1.5rem;
  height: calc(100vh - 3rem);
  width: 100%;
}
.header__navWrap--open {
  animation: slideDown 0.25s forwards ease-in-out;
  display: flex;
}
.header__navWrap--closed {
  animation: slideUp 0.25s forwards ease-in-out;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
}
.header__nav__item {
  transition: all 0.25s ease-in-out;
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
  width: 100%;
}
.header__nav__item a {
  display: flex;
  margin-right: auto;
  width: 100%;
}
.header__nav__item a i {
  margin-left: auto;
}
.header__nav__item--active {
  text-decoration: underline;
  font-weight: 700;
}
.header__nav__item--icon {
  background: #c1c1c1;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 30px;
  max-width: 30px;
  margin: 0 1rem 0 0;
}
.header__social {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .header__navWrap {
    padding: 3rem 6rem 0 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    align-items: start;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    padding: 4rem 2rem 0 3rem;
    width: 300px;
  }
  .header__icon {
    display: none;
  }
  .header__navWrap {
    display: flex;
    padding: 0;
    height: 100%;
    padding: 0;
    visibility: visible;
  }
  .header__nav__item a:hover {
    color: white;
  }
  .header__nav__item--icon:hover {
    background: black;
    box-shadow: 1px 1px 2px #c1c1c1;
    color: #c1c1c1;
  }
  .header__nav__item--icon:hover i {
    transform: scale(1.15);
  }
  .header__social {
    justify-content: flex-start;
    padding: 0 0 3rem 0;
  }
}

.subMenu {
  display: none;
  letter-spacing: 2px;
  padding: 1.2rem 0 1.2rem 1rem;
  opacity: 0;
  width: 100%;
}
.subMenu li {
  padding: 0.5rem 0;
}
.subMenu--open {
  animation: slideDown 0.25s forwards ease-in-out;
  display: block;
}
.subMenu--closed {
  animation: slideUp 0.25s forwards ease-in-out;
}

@keyframes slideDown {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translateY(-50%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes slideUp {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translateY(0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    opacity: 0;
    transform: translateY(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
